{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/reset_password.css' %}" rel="stylesheet">
<div class="container" style="display: flex; justify-content: center;">
    <div class="card password-reset-sent">
    <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.<br> You
        should
        receive them shortly.</h5>
        <br>
    <h5>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check <br> your
        spam folder.</h5>
        </div>
</div>
{% endblock %}