{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link href="{% static 'css/reset_password.css' %}" rel="stylesheet">
<div class="container" style="display: flex; justify-content: center">
    <div class="card password-reset-form">
    <h3 class="password-reset-form-title">Enter new password</h3>
    <p class="password-reset-form-header">Please enter your password twice so we can verify</p>
    <form  method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="password-reset-form-button" type="submit" name="Update Password">Submit</button>
    </form>
        </div>
</div>
{% endblock %}