.reset-password {
    display: flex;
    justify-content: center;
    margin-bottom: 13rem;
}

.reset-password-card {
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px 10px #f8f8fb;
    padding: 3rem 3rem;
    line-height: 30px;
}

.pass-reset-button {
    background: #dc3545;
    color: #FFFFFF;
    border: 0px;
    padding: 6px 30px;
    border-radius: 4px;
    margin-top: 20px;
}

.password-reset-title {
    font-weight: 600;

}

.password-reset-header {
    color: #9096B2;
}

.password-reset-sent {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px 10px #F6F4FD;
    border-radius: 2px;
    margin-top: 9rem;
    margin-bottom: 9rem;
    border: 0px !important;
    padding: 3rem 3rem;
    color: #9096B2;
    line-height: 10px;
}

.password-reset-form{
    margin-top: 7rem;
    margin-bottom: 8rem;
     background: #FFFFFF;
    box-shadow: 0px 0px 25px 10px #f8f8fb;
    padding: 3rem 3rem;
    line-height: 30px;

}

.password-reset-form-title{
    font-weight: 600;
}

.password-reset-form-header{
    color: #9096B2;
}

.password-reset-form-button{
    background: #dc3545;
    color: white;
    padding: 5px 30px;
    border: 0px !important;
    border-radius: 4px;
}

.password-reset-success{
    background: #FFFFFF;
    box-shadow: 0px 0px 25px 10px #F6F4FD;
    border-radius: 2px;
    margin-top: 11rem;
    margin-bottom: 13rem;
     border: 0px !important;
    padding: 3rem 3rem;
    line-height: 10px;
}


.password-reset-home a{
    font-size: 25px;
    color: #7E33E0;!important;
    font-weight: 600;
}

.password-reset-home{
    text-align: center;
    margin-top: 2rem;
}

.password-reset-home:hover a{
    color: #7E33E0 !important;
    text-decoration: none !important;
}