<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>


<body>


{% block content %}
<link href="{% static 'css/wishList.css' %}" rel="stylesheet">
<link href="{% static 'css/product_list.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/homepage.jpg' %}" class="banner-image">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/homepage2.jpg' %}" class="banner-image">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/homepage3.jpg' %}" class="banner-image">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--<img src="{% static 'images/homepage.jpg' %}" class="banner-image">-->
</div>

<div class="top-main container">
    <div class="feature-product-head">
        <p class="feature-product">Featured Products</p>
        <p class="feature-product-view"><a href="/featured_product/">View All</a></p>
    </div>
    {% block product_list %}
    <div class="row main">
        {% for item in data %}
        <div class="col-lg-3 col-sm-12">

            <div class="card card-design container">
                {% if item.image %}
                <a href="/product-description/{{item.id}}/"><img class="card-img-top-home" src="{{item.image.url}}"
                                                                 alt="Card image cap" id="image"></a>
                {% else %}
                <a href="/product-description/{{item.id}}/"><img class="card-img-top-home" src="{% static 'images/default_product.png'%}" alt="Card image cap"
                                                                 id="image1" height="50px" width="60px"></a>
                {% endif %}
                <div class="card-body">
                    <div class="card-text">
                        <p class="product-name"> {{item.name}}</p>
                        <p> {{item.category}}</p>

                        <!--                        <input type="hidden" value={{item.id}} class="hidden_class">-->
                    </div>
                    <p class="product-price-home"><strong class="price">Rs {{item.price}}</strong></p>

                    <!--                <form >-->


                    <button type="button" class="btn btn-danger button-design-productList" data-toggle="modal"
                            data-target=#{{item.id}}
                            class="btn">
                        Add to Cart
                    </button>

                    <!--                </form>-->
                    <div class="modal fade" id={{item.id}} tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header confirm-modal-header">
                                    <h5 class="modal-title confirm-modal-title" id="exampleModalLabel">Confirm
                                        Purchase</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body product-detail">
                                    {% for message in messages %}

                                    {% endfor %}
                                    <p><span class="confirm-title">Name:</span> {{item.name}}</p>
                                    <p><span class="confirm-title">Price: </span><span
                                            class="item_price">{{item.price}}</span>
                                        <input type="hidden" value="{{item.price}}" class="item_unit_price" />

                                    </p>
                                    {% if company %}
                                    <p><span class="confirm-title">Company:</span> {{item.Company}}</p>
                                    {% else %}
                                    <p><span class="confirm-title">Company: </span>N/A</p>
                                    {% endif %}
                                    <p><span class="confirm-title">Available Quantity: </span>{{item.quantity}}</p>
                                    <input type="hidden" value="{{item.quantity}}" class="item_quantity" />
                                    <form method="post" action="/wishlist/">
                                        <input type="hidden" id="item" value={{item.id}} name="item">
                                        <div class="form-group ">
                                            <div class="edit-product-quantity">
                                            <label><span class="confirm-title">Required Quantity</span></label>
                                            <!--                                            <span class="minus dis" id="decrease" onclick="decreaseValue()"></span>-->
                                            <!--                                            <input type="number" class="qty"-->
                                            <!--                                                   onkeypress="changeValue(); return event.charCode >= 48"-->
                                            <!--                                                   min="0" max="{{item.quantity}}" value="1" name="qty">-->
                                            <i class="fa-solid fa-minus edit-quantity-increment decrement-count"
                                               id="decrement-count"></i>
                                            <div id="total-count">
                                                <p class="edit-quantity total-count" name="product-qty">
                                                    1 </p>
                                                <input type="hidden" id="quantity" class="hidden-quantity-field"
                                                       name="hidden-quantity-field" value="1" >
                                            </div>

                                            <i class="fa-solid fa-plus edit-quantity-increment increment-count"
                                               id="increment-count"></i>


                                        </div>
                                        </div>
                                        <div class="changingprice confirm-modal-price"
                                             class="rounded buttonshad buttonstyling bg-primary text-light mx-5">
                                            Total: <span> {{item.price}}</span>
                                        </div>
                                        {% csrf_token %}
                                        <!--                        <input type="text" name="product_id" id="product_id">-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-danger">
                                                Confirm Add
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="latest-product-head">
        <p class="latest-product">Latest Products</p>
        <p class="feature-product-view"><a href="/latest-product/">View All</a></p>
    </div>


    <div class="row main">
        {% for item in data1 %}
        <div class="col-lg-3 col-sm-12">

            <div class="card card-design">
                {% if item.image %}
                <a href="/product-description/{{item.id}}/"><img class="card-img-top-home" src="{{item.image.url}}"
                                                                 alt="Card image cap" id="image"></a>
                {% else %}
                <a href="/product-description/{{item.id}}/"><img class="card-img-top-home" src="{% static 'images/default_product.png'%}" alt="Card image cap"
                                                                 id="image1" height="50px" width="60px"></a>
                {% endif %}
                <div class="card-body">
                    <div class="card-text">
                        <p class="product-name"> {{item.name}}</p>
                        <p> {{item.category}}</p>

                        <!--                        <input type="hidden" value={{item.id}} class="hidden_class">-->
                    </div>
                    <p class="product-price-home"><strong class="price">Rs {{item.price}}</strong></p>

                    <!--                <form >-->


                    <button type="button" class="btn btn-danger button-design-productList" data-toggle="modal"
                            data-target=#{{item.id}}
                            class="btn">
                        Add to Cart
                    </button>

                    <!--                </form>-->
                    <div class="modal fade" id={{item.id}} tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header confirm-modal-header">
                                    <h5 class="modal-title confirm-modal-title" id="exampleModalLabel">Confirm
                                        Purchase</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body product-detail">
                                    {% for message in messages %}

                                    {% endfor %}
                                    <p><span class="confirm-title">Name:</span> {{item.name}}</p>
                                    <p><span class="confirm-title">Price: </span><span
                                            class="item_price">{{item.price}}</span>
                                        <input type="hidden" value="{{item.price}}" class="item_unit_price" />

                                    </p>
                                    <p><span class="confirm-title">Company:</span> {{item.Company}}</p>
                                    <p><span class="confirm-title">Available Quantity: </span>{{item.quantity}}</p>
                                    <input type="hidden" value="{{item.quantity}}" class="item_quantity"/>
                                    <form method="post" action="/wishlist/">
                                        <input type="hidden" id="item" value={{item.id}} name="item">
                                         <div class="form-group ">
                                            <div class="edit-product-quantity">
                                            <label><span class="confirm-title">Required Quantity</span></label>
                                            <!--                                            <span class="minus dis" id="decrease" onclick="decreaseValue()"></span>-->
                                            <!--                                            <input type="number" class="qty"-->
                                            <!--                                                   onkeypress="changeValue(); return event.charCode >= 48"-->
                                            <!--                                                   min="0" max="{{item.quantity}}" value="1" name="qty">-->
                                            <i class="fa-solid fa-minus edit-quantity-increment decrement-count"
                                               id="decrement-count"></i>
                                            <div id="total-count">
                                                <p class="edit-quantity total-count" name="product-qty">
                                                    1 </p>
                                                <input type="hidden" id="quantity" class="hidden-quantity-field"
                                                       name="hidden-quantity-field" value="1" >
                                            </div>

                                            <i class="fa-solid fa-plus edit-quantity-increment increment-count"
                                               id="increment-count"></i>


                                        </div>
                                        </div>
                                        <div class="changingprice confirm-modal-price"
                                             class="rounded buttonshad buttonstyling bg-primary text-light mx-5">
                                            Total: <span> {{item.price}}</span>
                                        </div>
                                        {% csrf_token %}
                                        <!--                        <input type="text" name="product_id" id="product_id">-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-danger">
                                                Confirm Add
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endblock %}
        <div class="centered-element">
            <div class="container">
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>

    <!--<img src="{% static 'images/bannerHomepage.jpg' %}" class="banner-image">-->

    <script>
        // function changeValue() {
        //     let qtys = document.getElementsByClassName("qty");
        //     let changingprices = document.getElementsByClassName("changingprice");
        //     let item_price = document.getElementsByClassName("item_price");
        //     // d.addEventListener("change", function (){
        //     //     document.querySelector("#changingprice").innerHTML='Total Price: ' + (item_price * this.value)
        //     // })
        //     // let values = document.getElementsByClassName("qty");
        //
        //     for (let i = 0; i < qtys.length; i++) {
        //
        //         qtys[i].addEventListener('change', () => {
        //
        //             changingprices[i].innerHTML = 'Total: Rs ' + (item_price[i].innerHTML * qtys[i].value);
        //
        //         })
        //     }
        //
        // }

        let hiddenQuantityField = document.getElementsByClassName("hidden-quantity-field");
        var plus = document.getElementsByClassName("increment-count");
        var minus = document.getElementsByClassName("decrement-count");
        const totalCount = document.getElementsByClassName("total-count");
        let item_unit_price = document.getElementsByClassName("item_unit_price");
        let item_quantity = document.getElementsByClassName("item_quantity");
        let unit_price = document.getElementsByClassName("item_price");
        let changingprice = document.getElementsByClassName("changingprice");
        var count = 0;
        // console.log("plus: ", plus, "MINUS: ", minus, "totalCount: ", totalCount, "unit_price", unit_price)

      for (let i = 0; i <= unit_price.length; i++) {
            plus[i].addEventListener("click", () => {
                // console.log("Here");
                // console.log("this: ", parseInt(unit_price[i].innerHTML))
                // console.log(item_quantity[i]);
                // console.log(parseInt(totalCount[i].innerHTML))
                console.log(parseInt(totalCount[i].innerHTML) , parseInt(item_quantity[i].value))
                if (parseInt(totalCount[i].innerHTML) < item_quantity[i].value) {
                totalCount[i].innerHTML = parseInt(totalCount[i].innerHTML) + 1;
                hiddenQuantityField[i].value = parseInt(hiddenQuantityField[i].value) + 1;
                    console.log("here");
                    changingprice[i].innerHTML =
                        "Total: " + item_unit_price[i].value * parseInt(totalCount[i].innerHTML);
                }
                else{
                 totalCount[i].innerHTML = parseInt(totalCount[i].innerHTML);
                hiddenQuantityField[i].value = parseInt(hiddenQuantityField[i].value) ;
                    totalCount[i].innerHTML = item_quantity[i].value;
                }
                })
            minus[i].addEventListener("click", () => {
                // console.log(unit_price[i].value * parseInt(totalCount[i].innerHTML));
                totalCount[i].innerHTML = parseInt(totalCount[i].innerHTML) - 1;
                hiddenQuantityField[i].value = parseInt(hiddenQuantityField[i].value) - 1;
                if (totalCount[i].innerHTML >= 1) {
                    changingprice[i].innerHTML =
                        "Total: " + item_unit_price[i].value * parseInt(totalCount[i].innerHTML);

                } else {
                    totalCount[i].innerHTML = 1;
                }
            })
        }



        plus.addEventListener("click", () => {
            console.log("hello");
            count++;
            totalCount.innerHTML = count;

        });
        minus.addEventListener("click", () => {
            console.log("minus")
            count--;
            totalCount.innerHTML = count;
        })


    </script>


    {% endblock %}


</body>

</html>